@import 'intl-tel-input/build/css/intlTelInput.css';

@tailwind base;
@tailwind components;

[x-cloak] { display: none !important; }

.iti { display: block; }
.iti__selected-flag { padding: 0 10px; }

.swiper-scrollbar-drag {
  background: theme('colors.primary.600') !important;
}

@tailwind utilities;
